.cardDiv {
  display: flex;
  flex-direction: row;
  flex: 0.2;
  width: 60%;
  padding: 10px;
  border-bottom: 1px solid;
  max-height: 180px;
}

.videoThumbnail {
  flex: 0.4;
}

.videoContent {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 0.625rem;
  
}

.videoTitle {
  font-weight: bold;
  font-size: large;
  flex: 0.3;
}

.videoStatistics {
  display: flex;
  flex-direction: row;
  flex: 0.1;
  margin-top: 0.625rem;
  font-size: small;
  font-weight: lighter;
}

.videoPublishedAt {
    margin-left: 5px;
}

.videoViewCount {
    margin-left: 5px;
}

.videoDescription {
    flex: 0.2;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    max-width: 100%;
    margin-top: 0.625rem;
    font-weight: lighter;
}