
* {
    margin: 0;
    padding: 0;
} 
html {
    width: 100vw;
    height: 100vh;
}

/* header */
.header_left img {
    object-fit: contain;
    margin-left: 0.625rem;
    height: 4.375rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.063rem solid whitesmoke;
}

.header_left {
    display: flex;
    align-items: center;
    margin-left: 0.625rem;
}

.header_middle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 0.625rem;
    border-radius: 0.313rem;
}

.material-icons {
    color: gray;
}

.header_middle input {
    border: none;
    width: 100%;
    padding: 0.625rem;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.header_right {
    display: flex;
    padding-right: 1.25rem;
}

.header_right span {
    padding: 0.625rem;
    cursor: pointer;
}

/* leftSidebar */
.leftSidebar {
    flex: 0.2;
    max-width: 18.75rem;
    padding-right: 1.25rem;
}

.leftSidebar_compose {
    margin-top: 1rem;
    margin-left: 0.625rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: gray;
    padding: 1rem;
    border-radius: 1.875rem;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0rem 0.125rem 0.313rem -0.125rem rgba(0, 0, 0, 0.75);
}

.leftSidebar_compose span {
    margin-right: 0.313rem;
}

.leftSidebarOption {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 0.625rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    cursor: pointer;
    color: #818181;
}

.leftSidebarOption .material-icons {
    padding: 0.313rem;
}

.leftSidebarOption h3 {
    flex: 0.8;
    margin-left: 0.625rem;
    font-size: 0.875rem;
    font-weight: 400;
}

.leftSidebarOption .numberleftSidebar {
    flex: 0.2;
    margin-right: 0.313rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.leftSidebarOption:hover, 
.leftSidebarOption:hover h3, 
.leftSidebarOption:hover .material-icons,
.leftSidebarOption_active,
.leftSidebarOption_active h3,
.leftSidebarOption_active .material-icons {
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800;
}

.leftSidebar_footer {
    display: flex;
    justify-content: center;
}

.leftSidebar_footerIcons .material-icons {
    margin: 0.438rem;
    cursor: pointer;
}

/* main_body */
.main_body {
    display: flex;
    height: 100vh;
}
body {
    height: 100vh;
    overflow: hidden;
}

/* email list */
.emailList {
    flex: 1;
}

.emailList_options {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.063rem solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 0.5rem;
}
.emailList_optionsLeft {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.emailList_options .material-icons {
    margin: 0.313rem;
    cursor: pointer;
}

.rightSidebar {
    flex: 0.1;
    max-width: 2.5rem;
    padding-right: 0.625rem;
}
.rightSidebarOption {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 0.625rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    cursor: pointer;
    color: #818181;
}

.rightSidebarOption .material-icons {
    padding: 0.313rem;
}

.rightSidebarOption .material-symbols-outlined {
    padding: 0.313rem;
}

.rightSidebarOption:hover, 
.rightSidebarOption:hover .material-icons,
.rightSidebarOption:hover .material-symbols-outlined
{
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800;
}

.emailList_list {
    display: flex;
    flex-direction: row;
}

.emailList_list .emailList_emailsInBrief {
    flex: 0.25;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-left: 0.625rem;
    padding-right: 0.313rem;
    align-items: center;
    justify-content: center;
}
.emailList .emailList_fullEmail {
    flex: 0.75;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    padding-left: 0.625rem;
    padding-right: 0.313rem;
}

.emailBrief {
    display: flex;
    flex-direction: row;
    border-bottom: 0.063rem solid gray;
    background-color: whitesmoke;
    padding: 0.125rem;
    height: 3.125rem;
    overflow-x: hidden;
}
.emailBrief input {
    flex: 0.2;
    margin-top: 0.313rem;
}
.emailBrief .emailBriefContent {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 0.625rem;
    white-space: nowrap;
    overflow-x: hidden;
}
.recipient-name {
    font-weight: 800;
    font-size: medium;
}
.email-subject {
    font-weight: 400;
    font-size: small;
}
.email-content {
    font-weight: lighter;
    font-size:small;
}

.activeEmail {
    background-color:azure;
}